body{
  background-color:lightblue
}
.pet-box{
  display:flex; 
  justify-content: center;
  padding:40px;
}
.btn{
  margin:20px;
}

#main-title{
  text-align: center;
  margin: 20px;
}

#pet-cards{
  display:flex;
  justify-content: center; 
  align-content: space-between;
  flex-wrap: wrap; 
}

.card{
  margin: 20px;
  
}



.card-img-top{
  border-radius: 25px;
  padding: 5px;
  margin: 50px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

#name{
  text-align: center;
  font-weight: bold;
  padding: 10px;
  box-shadow: inset 0 0 70px;
}
.pet{
  text-align: center;
}

.card-text{
  font-style: italic;
  text-align: center;
}

#selected-pet{
  display:flex;
  justify-content: center; 
  align-content: space-between;
  flex-wrap: wrap; 
}

#ruf{
  display:flex;
  justify-content: center; 
  align-content: space-between;
  flex-wrap: wrap; 

}

#roar{
display:flex;
justify-content: center; 
align-content: space-between;
flex-wrap: wrap; 
}

#colorA{
  padding: 10px;
}